@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-areas: "menu title"
                        "menu form"
    
}

.menu{
    grid-area: menu;
    padding: 50px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined{
    display: none;
}

li{
    list-style: none;
    margin-bottom: 15px;
}

.menu a {
    color: rgb(88, 88, 88);
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.menu a:hover{
    color: rgb(67, 33, 194);
}

.titulo{
    grid-area: title;
    margin-top: 50px;
    margin-left: 20px;
    font-size: 0.8em;
}

.formulario{
    grid-area: form;
    margin-right: 50px;
}

form > h2{
    font-size: 1.2em;
    font-weight: 400;
    margin-left: 20px;
}

.dados-do-imovel{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

@media(max-width: 1120px){
    .dados-do-imovel{
        grid-template-columns: 1fr 1fr;
    }

    .menu{
        padding-left: 10px;
    }

    .formulario{
        margin-right: 10px;
    }
}

@media(max-width: 720px){
    .dados-do-imovel{
        grid-template-columns: 1fr;
    }

    .container{
        
        grid-template-areas:"tog tog" 
                            "menu menu"
                            "title title"
                            "form form";
    }

    .material-symbols-outlined{
        display: block;
        grid-area: tog;
        cursor: pointer;
    }
}

.dados-do-imovel div{
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: rgb(88, 88, 88);
    min-width: 250px;
}

label{
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
}

input, select{
    height: 40px;
    padding: 10px;
    border: 2px solid gray;
}

@media(max-width: 720px){
    .dados-do-imovel div{
        width: 100%;
    }

    .menu{
        display: block;
        transition: 0.5s;
        opacity: 0;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
        margin: 0 auto;
    }

    .menu.on{
        height: 100vh;
        visibility: visible;
        opacity: 1;
        margin: 0 auto;
    }
}

input:hover{
    background-color: rgb(232, 250, 255);
}

#fotos{
    height: 40px;
}

#bt-final{
    color: #fff;
    background-color: #000;
    border: none;
    width: 250px;
    margin-bottom: 200px;
    height: 50px;
    font-size: 17px;
    margin-top: 50px;
}