/* pagina Adicionar Imóvel */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


#hb-addimvel{
    display: none;
}

.container-adm1{
    margin-top: 44px;
}



.titulo-addimvel{
    grid-area: title;
    margin-top: 23px;
    margin-left: 20px;
    font-size: 0.8em;
}



/* fomrmulário css*/




.form-adm > h2{
    font-size: 1.2em;
    font-weight: 400;
    margin-left: 20px;
    margin-top: 40px;
}

.dados-do-imovel-addimvel{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.endereco-do-imovel-addimvel{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.fotos-do-imovel-addimvel{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

@media(max-width: 1120px){
    .dados-do-imovel-addimvel{
        grid-template-columns: 1fr 1fr;
    }

    .fotos-do-imovel-addimvel{
        grid-template-columns: 1fr 1fr;
    }

    .endereco-do-imovel-addimvel{
        grid-template-columns: 1fr 1fr;
    }

    .menu-addimvel{
        padding-left: 10px;
    }

    .formulario-addimvel{
        margin-right: 10px;
    }
}

@media(max-width: 720px){
    .dados-do-imovel-addimvel{
        grid-template-columns: 1fr;
    }

    .endereco-do-imovel-addimvel{
        grid-template-columns: 1fr;
    }

    .fotos-do-imovel-addimvel{
        grid-template-columns: 1fr;
    }

    .container-addimvel{
        
        grid-template-areas:"tog tog" 
                            "menu menu"
                            "title title"
                            "form form";
    }

    #hb-addimvel{
        display: block;
        grid-area: tog;
        cursor: pointer;
        margin: 15px;
    }
}

.dados-do-imovel-addimvel div{
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: rgb(88, 88, 88);
    min-width: 250px;
}

.endereco-do-imovel-addimvel div{
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: rgb(88, 88, 88);
    min-width: 250px;
}

.fotos-do-imovel-addimvel div{
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: rgb(88, 88, 88);
    min-width: 250px;
}

label{
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
}

input, select{
    height: 40px;
    padding: 10px;
    border: 2px solid gray;
    cursor: pointer;
}

@media(max-width: 720px){
    .dados-do-imovel-addimvel div{
        width: 100%;
    }

    .menu-addimvel{
        display: block;
        transition: 0.5s;
        opacity: 0;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
        margin: 0 auto;
    }

    .menu-addimvel.on{
        height: 100vh;
        visibility: visible;
        opacity: 1;
        margin: 0 auto;
    }
}

input:hover{
    background-color: rgb(232, 250, 255);
}

#fotos{
    height: 40px;
}

#pic-a, #pic-b, #pic-c{
    height: 40px;
    padding: 10px;
    border: 2px solid gray;
    cursor: pointer;
    text-align: center;
}

.file label:hover{
    background-color: gray;
    color: #fff;
}

#pic, #pic2, #pic3{
    display: none;
}

#descricao{
    margin-left: 20px;
}

#bt-final{
    color: #fff;
    background-color: #000;
    border: none;
    width: 250px;
    margin-bottom: 200px;
    height: 50px;
    font-size: 17px;
    margin-top: 50px;
    margin-left: 20px;
    cursor: pointer;
}

#bt-final:hover{
    background-color: rgb(36, 36, 36);
}






/* pagina Administrativo */







.sessao-adm{
    display: flex;
}


/* menu css */


.menu-adm{
    padding: 50px;
}

#hb-adm {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#hb-adm{
    display: none;
}

li{
    list-style: none;
    margin-bottom: 15px;
}

.menu-adm a {
    color: rgb(88, 88, 88);
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.menu-adm a:hover{
    color: rgb(67, 33, 194);
}


/* responsivo */

@media(max-width: 920px){
    .sessao-adm{
        display: block;
        overflow-x: hidden;
    }

    .container-adm{
        width: 100vw;
        margin-bottom: 50px;
    }
}

@media(max-width: 920px){

    .container-adm{
        width: 100vw;
    }

    #hb-adm{
        display: block;
        cursor: pointer;
        margin: 20px;
    }

    .tabela-adm{
        overflow-x: scroll;
    }
}

label{
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    margin-bottom: 10px;
}

select{
    height: 40px;
    padding: 10px;
    border: 2px solid gray;
    cursor: pointer;
}

@media(max-width: 920px){
    .sessao-adm{
        display: block;
    }

    .main-adm{
        display: block;
    }

    .menu-adm{
        display: flex;
        transition: 0.5s;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
        padding: 10px;
        justify-content: center;
    }

    .menu-adm.on{
        display: flex;
        justify-content: center;
        height: 100vh;
        visibility: visible;
    }
}

.container-adm{
    margin-top: 46px;
}

.dados-adm{
    display: flex;
}

.dados-adm div{
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: rgb(88, 88, 88);
    min-width: 250px;
}

.tabela-adm{
    overflow-x: auto;
    width: 100%;
}

.table-adm{
    margin-top: 20px;
    display: flex;
}

td, th{
    padding: 20px;
}

.button-adm{
    background-color: #fff;
    padding: 5px;
    width: 80px;
    border: 1px solid #000;
    cursor: pointer;
}

.button-adm:hover{
    background-color: #000;
    color: #fff;
}





/* pagina Meu Map */



.sessao-map{
    display: flex;
}

.container-map{
    max-width: 1200px;
}


/* menu css */



#hb-map {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#hb-map{
    display: none;
}

li{
    list-style: none;
    margin-bottom: 15px;
}

.menu-map a:hover{
    color: rgb(67, 33, 194);
}

/* responsivo */

@media(max-width: 920px){
    .sessao-map{
        display: block;
    }
}

@media(max-width: 820px){
    #hb-map{
        display: block;
        cursor: pointer;
        margin: 20px;
    }

    #link, #codigo{
        width: 100%;
    }
}

label{
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.input-map{
    height: 40px;
    padding: 10px;
    border: 2px solid gray;
    cursor: pointer;
}

#link, #codigo{
    width: 100%;
}

@media(max-width: 820px){
    .dados-map div{
        display: flex;
        flex-direction: column;
    }

    .sessao-map{
        display: block;
    }
}


.titulo{
    margin-top: 67px;
    margin-left: 20px;
    font-size: 0.8em;
}

.dados-map{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dados-map div{
    display: flex;
    padding: 10px;
    color: rgb(88, 88, 88);
}

input:hover{
    background-color: rgb(232, 250, 255);
}

.conjunto1{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.conjunto2{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#btn-final-map{
    color: #fff;
    background-color: #000;
    border: none;
    width: 200px;
    height: 40px;
    font-size: 17px;
    margin-top: 38px;
    margin-left: 20px;
    cursor: pointer;
}

#btn-final-map:hover{
    background-color: rgb(36, 36, 36);
}

.mapa-img{
    border: 1px solid gray;
    height: 500px;
    margin-left: 20px;
}





/* pagina Meus imoveis */




.sessao-imove{
    display: flex;
}


/* menu css */



#hb {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#hb{
    display: none;
}

li{
    list-style: none;
    margin-bottom: 15px;
}


/* responsivo css */

@media(max-width: 920px){
    #hb{
        display: block;
        cursor: pointer;
        margin: 15px;
    }

    .sessao-imove{
        display: block;
    }
}

@media(max-width: 720px){
    #hb{
        display: block;
        cursor: pointer;
        margin: 15px;
    }

    .tabela-imove{
        overflow-x: scroll;
    }
}

label{
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    margin-bottom: 10px;
}

select{
    height: 40px;
    padding: 10px;
    border: 2px solid gray;
    cursor: pointer;
}

@media(max-width: 720px){
    .dados-imove div{
        width: 100%;
    }

    .sessao-imove{
        display: block;
    }
}

.titulo{
    margin-top: 67px;
    margin-left: 20px;
    font-size: 0.8em;
}

.form-imoveis{
    display: flex;
    flex-wrap: wrap;
}

.dados-imove{
    display: flex;
    flex-wrap: wrap;
}

.dados-imove div{
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: rgb(88, 88, 88);
    min-width: 250px;
}

#btn-final-imove{
    color: #fff;
    background-color: #000;
    border: none;
    width: 210px;
    height: 40px;
    font-size: 17px;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 47px;
    cursor: pointer;
}

#btn-final-imove:hover{
    background-color: rgb(73, 73, 73);
}

.table-imove{
    margin-top: 20px;
}

td, th{
    padding: 20px;
}

#lixeira1, #lixeira2 {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

  .button-imov{
    border: none;
    width: 40px;
    background-color: #fff;
    cursor: pointer;
  }





  /* pagina Minha Conta */



  .sessao-conta{
    display: flex;
  }

.container-conta{
    max-width: 1200px;
}

/* menu css */


#hb-conta {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#hb-conta{
    display: none;
}

li{
    list-style: none;
    margin-bottom: 15px;
}

/* responsivo css */

@media(max-width: 720px){
    #hb-conta{
        display: block;
        cursor: pointer;
        margin: 15px;
    }
}

label{
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
}

input, select{
    height: 40px;
    padding: 10px;
    border: 2px solid gray;
}

@media(max-width: 720px){
    .dados-conta div{
        width: 100%;
    }

    .sessao-conta{
        display: block;
    }
}

.titulo{
    margin-top: 67px;
    margin-left: 20px;
    font-size: 0.8em;
}

.dados-conta{
    display: flex;
    flex-wrap: wrap;
}

.dados-conta div{
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: rgb(88, 88, 88);
    min-width: 250px;
}

input:hover{
    background-color: rgb(232, 250, 255);
}

.form-conta{
    display: flex;
    flex-wrap: wrap;
}

.botao1{
    color: #fff;
    background-color: blue;
    border: none;
    height: 40px;
    font-size: 17px;
}

.botao2{
    color: #fff;
    background-color: orangered;
    border: none;
    height: 40px;
    font-size: 17px;
}

#btn-final{
    color: #fff;
    background-color: #000;
    border: none;
    width: 210px;
    margin-bottom: 200px;
    height: 50px;
    font-size: 17px;
    margin-top: 50px;
    margin-left: 20px;
    cursor: pointer;
}

#btn-final:hover{
    background-color: rgb(73, 73, 73);
}





/* login tela */




.login-form{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.login-container{
    max-width: 380px;
    min-width: 320px;
    margin: 0 auto;
    margin-top: 50px;
}

#btm-final{
    background-color: #000;
    color: #fff;
    border: none;
    margin-top: 20px;
    font-weight: 700;
}




/* tela pos criar conta */



.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 10%;
    max-width: 500px;
}



/* pagina planos */



.controle{
    display: flex;
    justify-content: center;
}

.quadrado{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgba(168, 168, 168, 0.527);
    width: 300px;
    height: 380px;
    margin: 10px;
}

.titulus{
    color: rgb(0, 102, 255);
    font-size: 10px;
}

.titu-plano{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.cifrao{
    font-size: 60px;
    margin: 0;
}

.precus{
    display: flex;
}

.precus span:last-child{
    margin-top: 40px;
}

.precus span{
    font-weight: 600;
}

.tanto-imoveis{
    font-size: 20px;
    font-weight: 100;
}

.btn-plano{
    border: none;
    background-color: #000;
    color: #fff;
    height: 40px;
    width: 200px;
    margin-bottom: 30px;
}

.btn-plano:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}